@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background: #f8f8f8;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  font-family: Inter;
  --bg-nav-color: #534EEB;
  --bg-nav-hover-color: #312CCD;

  height: 100%;

}

.bg-nav {
  background: var(--bg-nav-color);
}

h1 {
  font-size: 32px;
  @apply font-semibold;
}

h2 {
  font-size: 20px;
  @apply font-semibold;
}

.cta-button {
  @apply px-6 font-semibold py-2 text-white flex items-center justify-center rounded-sm;
  background: var(--bg-nav-color);
}

.cta-button:hover {
  background: var(--bg-nav-hover-color);
  cursor: pointer;
}

.cta-button:disabled {
  background: #b3b3b3;
  cursor: default;
}