@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background: #f8f8f8;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  font-family: Inter;
}

.bg-nav {
  background: #534EEB;
}

h1 {
  font-size: 32px;
  @apply font-semibold;
}